

#head {
    display: inline-block;
    background-image:url("./img/baba_ikon.jpg");
    background-repeat: no-repeat;
    width: 400px;
    height: 280px;
    background-position: 0px 0px;
    cursor:url(img/hand-cursor-24.gif),pointer;
}

.col {
    float: left;
}
/* .left, .right {
    width: 25%;
}
.mid {
    width: 50%;
} */
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}